language: python

dist: noble

cache: pip

notifications:
  email: true

matrix:
  include:
    - python: '3.11'
      before_script:
        - >-
          [ -z "${TRAVIS_TAG}" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]
          && openssl aes-256-cbc -K $encrypted_d4a185972ecc_key -iv $encrypted_d4a185972ecc_iv -in pdns.env.enc -out pdns.env -d || true
          && openssl aes-256-cbc -K $encrypted_3d8a3eb98382_key -iv $encrypted_3d8a3eb98382_iv -in transit.env.enc -out transit.env -d || true
          && openssl aes-256-cbc -K $encrypted_27cb64608ff6_key -iv $encrypted_27cb64608ff6_iv -in dl.env.enc -out dl.env -d || true
          && openssl aes-256-cbc -K $encrypted_fc092b9428d6_key -iv $encrypted_fc092b9428d6_iv -in cis.env.enc -out cis.env -d || true
          && openssl aes-256-cbc -K $encrypted_89a9eb4f9417_key -iv $encrypted_89a9eb4f9417_iv -in dns.env.enc -out dns.env -d || true
        # force prod IAM inside the file so dotenv can't override you
        - sed -i 's#^CIS_SERVICES_AUTH_URL=.*#CIS_SERVICES_AUTH_URL=https://iam.cloud.ibm.com/identity/token#g' cis.env || true
        - 'grep -q "^CIS_SERVICES_AUTH_URL=" cis.env || echo "CIS_SERVICES_AUTH_URL=https://iam.cloud.ibm.com/identity/token" >> cis.env'
        # also export for safety
        - export CIS_SERVICES_AUTH_URL="https://iam.cloud.ibm.com/identity/token"
        - python - <<'PY'
import os
print("PYDEBUG before tox: CIS_SERVICES_AUTH_URL =", os.getenv("CIS_SERVICES_AUTH_URL"))
PY
    - python: '3.12'
    - python: '3.13'

before_install:
  - sudo apt-get update -y
  - sudo apt-get install -y pandoc
  - pip install --upgrade pip
  - pip install pypandoc tox-travis
  - echo -e "machine github.ibm.com\n  login $GH_TOKEN" > ~/.netrc

install:
  - sudo apt-get update -y

script: tox

before_deploy:
- nvm install 22
- npm install npm@latest -g
- npm install @semantic-release/changelog
- npm install @semantic-release/exec
- npm install @semantic-release/git
- npm install @semantic-release/github
- pip install bump2version

deploy:
- provider: script
  script: npx semantic-release
  skip_cleanup: true
  on:
    python: '3.11'
    all_branches: true  # Allow semantic-release on any branch triggered by tags
    #branch: master
    tags: true
- provider: pypi
  setuptools_version: "60.8.2"
  user: __token__
  password: $PYPI_TOKEN
  repository: https://upload.pypi.org/legacy
  skip_cleanup: true
  on:
    python: '3.11'
    tags: true